/* .gridContainer {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 2rem;

  padding: 2rem;
}*/

.positionRecipes {
  display: flex;
  justify-content: center;
}
.imageCardRecipes {
  height: 10rem;
}
