.card {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 13rem;
  justify-content: flex-start;
  background-color: #f4f4f4;
  /* border: 2px red solid; */
  flex-direction: column;
  margin-top: 1rem;

  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0.3rem 4px 2.6px;
}

.imageCard {
  width: 11rem;
  border-radius: 0.7rem 0.7rem 0 0;
}
.recipeTitle {
  font-size: 1rem;
  text-align: start;
  padding-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
}

.CardDetails {
  display: none;
}

@media screen and (width > 768px) {
  .CardDetails {
    display: block;
    width: 100%;
  }
  .card {
    width: 45vw;
    height: 20vh;
    flex-direction: row;
  }

  .recipeInfoCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
  }
  .imageCard {
    height: 100%;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0.3rem 4px 2.6px;
  }
  .recipeTitle {
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
  }
}

@media screen and (width > 1024px) {
  .imageCard {
    width: 18rem;
  }
  .card {
    margin: 1rem;
    border: 2px red solid;
  }

  .CardDetails {
    font-size: 1rem;
  }
  .recipeTitle {
    font-size: 2rem;
    margin-bottom: 0;
    padding: 0;
  }

  .recipeInfoCard {
    padding-left: 2rem;
  }
}
