.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 50%;
  height: 10rem;
  justify-content: flex-end;
}

.imageCard {
  width: 9rem;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0.3rem 4px 2.6px;
}
.recipeTitle {
  width: 8rem;
  text-align: center;
  padding-top: 0.5rem;
}
