/* .positionRecipeContainer{
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  
  flex-direction: column;
  
} */

.cardPosition {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 7rem;
}
.titleRecipeContainer {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
