.cardPosition {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 7rem;
  max-width: 90%;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleRecipeContainer {
  margin-bottom: 3rem;
  font-size: 3.5em;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (width > 768px) {
  .cardPosition {
    gap: 2rem;
  }
}
