.textQuantity {
  width: 8rem;
}

.unitSelect {
  width: 8rem;
}

.container {
  display: flex;
  gap: 0.5rem;
}

.globalContainer {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.containerDiv {
  margin-bottom: 5rem;
}
