.mainmenu:hover,
nav.mainmenu.expanded {
  width: 250px;
  overflow: visible;
}

.mainmenu {
  background-color: rgba(33, 33, 33, 0.8);
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  z-index: 1000;
}

.mainmenu > ul {
  margin: 7px 0;
}

.mainmenu li {
  position: relative;
  display: block;
  width: 250px;
}

.mainmenu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 25px;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.mainmenu .Navbaricon {
  position: relative;
  display: table-cell;
  color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin: 2rem 2rem 2rem 0.5rem;
}
.logo {
  height: 67px;
  background-color: white;
  border-radius: 40px;
}
.mainmenu .naviconbas {
  position: relative;
  display: table-cell;
  color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin: 2rem 2rem 2rem 0.5rem;
}
.mainmenu .navtext {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.mainmenu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.notouch .scrollable.hover {
  overflow-y: hidden;
}

.notouch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a {
  display: inline-flex;
}
a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.mainmenu li:hover > a,
nav.main-menu li.active > a,
.dropdownmenu > li > a:hover,
.dropdownmenu > li > a:focus,
.dropdownmenu > .active > a,
.dropdownmenu > .active > a:hover,
.dropdownmenu > .active > a:focus,
.no-touch .dashboardpage nav.dashboardmenu ul li:hover a,
.dashboardpage nav.dashboardmenu ul li.active a {
  color: #fff;
  background-color: #000000;
}
.Navbarcontainer {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

/* Styles pour les Navbar mobiles */

.menumobile {
  background-image: linear-gradient(
    0deg,
    hsl(44deg 100% 64%) 0%,
    hsl(42deg 100% 71%) 15%,
    hsl(41deg 100% 76%) 35%,
    hsl(40deg 100% 81%) 53%,
    hsla(39, 100%, 85%, 0.912) 68%,
    hsla(39, 100%, 88%, 0.809) 79%,
    hsla(38, 100%, 92%, 0.638) 86%,
    hsla(39, 100%, 95%, 0.414) 92%,
    hsla(36, 100%, 97%, 0.174) 97%,
    hsla(0, 0%, 100%, 0) 100%
  );
  border: none;
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  bottom: 0;
  border: none;

  align-items: center;
}
.Navbaricon {
  width: 2rem;
  margin-left: 1rem;
}
.naviconplus {
  width: 2rem;
  position: absolute;
  bottom: 2rem;
  left: 42%;
  width: 3.5rem;
}
/* Styles pour les appareils mobiles */
@media (max-width: 767px) {
  .Navbarcontainer {
    display: none;
  }
  .menumobile li {
    display: block;
  }
  nav ul,
  nav li {
    display: inline-flex;
    width: 100%;
  }

  body {
    margin-left: 0px;
  }
}
/* Styles pour les appareils desktop */
@media (min-width: 767px) {
  .mainmenu {
    display: block;
  }
  .menumobile {
    display: none;
  }
}
