.apparenceCard {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 7rem;
  margin-top: 3rem;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0.3rem 4px 2.6px;
  max-height: 30rem;
  overflow-y: auto;
}

.cardTitle {
  font-weight: bold;
  padding: 0.5rem;
}

.likeButton {
  margin-top: 1rem;
}

.containerGlobal {
  position: relative;
}

@media screen and (width > 768px) {
  .tabPosition {
    display: flex;
    justify-content: center;
  }
}

@media screen and (width > 1024px) {
  .apparenceCard {
    width: 80vw;
  }

  .RecipeByIdContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .svgCoeur {
    position: absolute;

    bottom: -1rem;
    right: 2.5rem;
  }
  .positionGenTab {
    width: 80%;
  }

  .positionTab {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .positionSection {
    display: flex;
    justify-content: center;

  }
}
