.carrouselCardPosition {
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}

.imageCarrouselCard {
  width: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.47);
}

@media screen and (width > 1024px) {
  .imageCarrouselCard {
    width: 45rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.47);
  }
}
