.carouselImageTitle {
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.364);
  width: 70%;
  left: 1;
  margin-bottom: 1rem;
}

.carouselGlobal {
  display: flex;
  height: 90%;
  justify-content: center;
  align-self: center;
}

@media screen and (width > 768px) {
  .carouselImageTitle {
    display: none;
  }

  .carouselGlobal button {
    display: none;
  }
}
