.carouselImageTitle {
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.364);
  width: 70%;
  left: 1;
  margin-bottom: 1rem;
}

.carouselGlobal {
  display: flex;
  height: 17rem;
  justify-content: center;
  align-self: center;
}

@media screen and (width > 768px) {
  .carouselImageTitle {
    background-color: transparent;
    font-size: 1.5rem;
  }
  .carouselGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
