.outline {
  margin: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainCardProfil {
  height: 100%;
  width: 75%;
  padding-top: 1rem;
  margin-top: 1rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  -webkit-box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.57);
}

.mainCardProfil img {
  height: 8rem;
  padding-bottom: 2rem;
}

.cardInformations {
  height: 100%;
  width: 75%;
  padding-top: 1rem;
  margin-top: 1rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  -webkit-box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 3px 15px 2px rgba(0, 0, 0, 0.57);
}

.formInscription {
  height: 100%;
}

.imageProfil {
  height: 17rem;
  width: 29rem;
}

.cardPosition {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 7rem;
}

@media screen and (width > 768px) {
  .cardPosition {
    gap: 2rem;
    margin: 2rem;
  }
}
