* {
  margin: 0;
}

.navBar {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f5b409;
  position: relative;
  overflow: hidden;
}

.home,
.search,
.favoris,
.switch {
  padding: 1vh;
  justify-content: center;
  text-align: center;
}

.svgNavBar {
  height: 2rem;
  width: 2rem;
}

.svgLink {
  text-decoration: none;
}
