* {
  margin: 0;
}

.navBar {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  padding-bottom: 1.8rem;
  &::before {
    content: "";
    background: #fae078;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 225%;
    height: 700%;
    z-index: -1;
  }
}

.svgLogo {
  height: 3rem;
}

.svgProfil {
  height: 2rem;
  padding-right: 1rem;
}

.svgLink {
  text-decoration: none;
}

.test {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
  fill: #f5b409;
  width: 100%;
}

.welcome svg {
  margin-right: 1rem;
}

.title {
  font-weight: bold;
}

.container a {
  text-decoration: none;
  color: black;
}

.welcome p {
  display: none;
}

@media screen and (width > 768px) {
  .svgLogo {
    display: none;
  }

  .welcome {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 12em;
  }

  .welcome p {
    display: block;
    margin: 0;
  }

  .favoris {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  .container {
    justify-content: center;
  }
}
